.navbar-brand {
    color: white;
    position: sticky;
}
.lorem {
    z-index: 0;
}
.header{
    position: sticky;
    top: 0;
    height: 5vh;
    background-color: #1E1F22 ;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand {
    color: white;
}