.small {
    width: 20rem;
}
.card-nav:hover {
    background-color: green;
    opacity: 0.6;
}


.nav-link:hover {
    background-color: green;
    opacity: 60%;
}

@media (max-width: 576px) {
    .gx-3 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

