.small {
    width: 20rem;
}

@media (max-width: 576px) {
    .gx-3 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.nav-link:hover {
    opacity: 60%;
    background-color: #343a40;
    cursor: pointer;
}