.list-group {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
}

.delete-btn {
    width: 130px;
    text-align: center;
}

.edit-btn {
    width: 130px;
}
.fixed-add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}
.word-container {
    display: inline-block;
    vertical-align: top;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.button-container {
    display: inline-block;
    vertical-align: top;
}
